<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_sched_form_ud.css' %}">  
</head>
<body>
    <div class="navbar-lagayan" id="design">
        <div class="navbar">
            <div class="navbar-logo">
              <a href = "{% url 'dashboard_index'%}"><img src="/static/css/images/dental_logo.png" width="128" height="128"></a>
			  </div>
			
            <div class="navbar-buttons1">
                <a href="{% url 'dashboard_create' %}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_view' %}"><button>VIEW</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_update' %}"><button>UPDATE</button></a>
            </div>

        </div>
      </div>

      <div class="form-lagayan" id="app_sched_form">
        <h1>UPDATE APPOINTMENT SCHEDULE</h1>
      
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            <label for="{{ form.appointment_time.id_for_label }}">APPOINTMENT TIME:</label>
            {{ form.appointment_time }}
          </div>
        
            <div class="form-row">
              <label for="{{ form.procedure.id_for_label }}">PROCEDURE:</label>
              {{ form.procedure }}
            </div>
      
            <div class="form-row">
              <label for="{{ form.status.id_for_label }}">Status:</label>
              {{ form.status }}
            </div>
            <div class="update_button">
              <button type="submit">UPDATE</button>
            </div>
        </form>
      </div>
</body>
</html>