<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_index.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/design_choices.css'%}">

    <title>Update Records</title>
    
</head>
<body>

    <div class="navbar-lagayan" id="dashboard_index">
        <div class="navbar">
            <div class="navbar-logo">
                <a href = "{% url 'dashboard_index'%}"><img src="/static/css/images/dental_logo.png" width="128" height="128"></a>
			</div>
			
            <div class="navbar-buttons1">
                <a href="{% url 'dashboard_create' %}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_view' %}"><button>VIEW</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_update' %}"><button>UPDATE</button></a>
            </div>
        </div>
    </div>
    <div class="form-lagayan" id="design_choices">
        <div class="container">
            <div class="apprec">
                <h2>UPDATE</h2>
                <a href="{% url 'patient_record_view' %}"><button>PATIENT RECORD</button></a>
                <a href="{% url 'appointment_schedule_view' %}"><button>APPOINTMENT SCHEDULE</button></a>
            </div>
        </div>
    </div>
</body>
</html>