
<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_index.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pat_rec_view.css'%}">

    <title>View Patient Record</title>
    
</head>
<body>

    <div class="navbar-lagayan" id="dashboard_index">
        <div class="navbar">
            <div class="navbar-logo">
                <a href = "{% url 'dashboard_index'%}"><img src="/static/css/images/dental_logo.png" width="128" height="128"></a>
			</div>
			
            <div class="navbar-buttons1">
                <a href="{% url 'dashboard_create' %}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_view' %}"><button>VIEW</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_update' %}"><button>UPDATE</button></a>
            </div>
        </div>
    </div>
    <div class="form-lagayan" id="pat_rec_view" style="
        position: absolute;
        width: 82vw;
        height: 94vh;
        left: 248px;
        top: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        mix-blend-mode: normal;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
        justify-content: center;
        align-items: center;">
        
        <div class="container">      
            <form method="GET" action="">
                {{ form.as_p }}
                <button type="submit">Search</button>
              </form>  
        <h1>Patient List</h1>
        <ul>
            {% for patient_record in patient_records %}
            <li><a href="{% url 'patient_record_detail' pk=patient_record.pk %}">{{patient_record.first_name}} {{ patient_record.last_name }}</a> {{patient_record.age}} {{patient_record.sex}} {{patient_record.contact_number}}</li>
            {% endfor %}
        </ul>
        <div class="create_button">
            <a href="{% url 'patient_record_create' %}"><button>Create New Patient Record</button></a>
        </div>
    </div>  
</div>
</body>
</html>