<form method="GET">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if appointment_schedules %}
    <h2>Appointment Schedules:</h2>
    <ul>
        <table>
            <thead>
              <tr>
                <th>Last Appointment</th>
                <th>Current Appointment Schedule</th>
                <th>Appointment Time</th>
                <th>Procedure</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                {% for appointment in appointment_schedules %}
                <tr>
                  <td>{{ appointment.last_appointment }}</td>
                  <td>{{ appointment.current_appointment_schedule }}</td>
                  <td>{{ appointment.appointment_time }}</td>
                  <td>{{ appointment.procedure }}</td>
                  <td>{{ appointment.status }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </ul>
{% else %}
    <p>No appointment schedules found.</p>
{% endif %}