<html>
<head>
    <title>MySQL Table</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/design.css'%}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/design_choices.css'%}"> -->
</head>
<body>
    <div class="topsidenav">
        <input type="text" placeholder="Search..">
    </div>
    <div class="navbar-lagayan" id="design">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="dental_logo.png" width="128" height="128">
			</div>
			
            <div class="navbar-buttons1">
                <a href="{% url 'dashboard_create' %}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_view' %}"><button>VIEW</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_update' %}"><button>UPDATE</button></a>
            </div>

        </div>
        </div>

    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Last Appointment</th>
                <th>Current Appointment</th>
                <th>Appointment Time</th>
                <th>Procedure</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ appointment_schedule.patient_id }}</td>
                <td>{{ appointment_schedule.last_appointment }}</td>
                <td>{{ appointment_schedule.current_appointment_schedule }}</td>
                <td>{{ appointment_schedule.appointment_time }}</td>
                <td>{{ appointment_schedule.procedure }}</td>
                <td>{{ appointment_schedule.status }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'appointment_schedule_update' pk=appointment_schedule.pk %}">Update Appointment</a>
</body>
</html>