<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/design.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/design_choices.css'%}">

    <title>DCRS Dashboard</title>
    
</head>
<body>
    <div class="topsidenav">
        <input type="text" placeholder="Search..">
    </div>
    <div class="navbar-lagayan" id="design">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="dental_logo.png" width="128" height="128">
			</div>
			
            <div class="navbar-buttons1">
                <a href="{% url 'dashboard_create' %}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_view' %}"><button>VIEW</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_update' %}"><button>UPDATE</button></a>
            </div>

        </div>
        </div>

        <div class="content" id="design_choices">
            <div class="box-container">
                <div class="apprec">
                    <h2>Create</h2>
                    <a href="{% url 'patient_record_view' %}"><button>Update Patient Record</button></a>
                    <a href="{% url 'appointment_schedule_view' %}"><button>Appointment Schedule</button></a>
                </div>
            </div>
        </div>

</body>
</html>